.header {
    border-bottom: 1px solid #ececec;
    padding: 24px 0 25px 0;
  }
  
  .header .container {
    display: flex;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $accent-color;
    text-decoration: none;
    margin-right: 93px;
  }
  
  .logo-footer {
    margin-right: 0;
  }
  
  .logo__header {
    color: $primary-color;
  }
  
  .menu {
    margin: 0;
    padding: 0;
  }
  
  .menu__item {
    display: inline-block;
    margin-right: 50px;
  }
  
  .menu__item:last-child {
    margin-right: 0;
  }
  
  .menu__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-color;
    text-decoration: none;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: $accent-color;
  }
  
  .menu__link.menu__link--current:after {
    position: absolute;
    content: " ";
    background: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    top: 46px;
    left: 0;
  }
  
  .menu__link--current {
    color: $accent-color;
  }
  
  .menu-contacts {
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  .menu-contacts__item {
    display: inline-block;
    margin-left: 30px;
  }
  
  .menu-contacts__item:first-child {
    margin-left: 0;
  }
  
  .menu-contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $paragraph-color;
    text-decoration: none;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-contacts__link:hover svg,
  .menu-contacts__link:focus svg {
    fill: $accent-color;
  }
  
  .menu-contacts__link:hover,
  .menu-contacts__link:focus {
    color: $accent-color;
  }
  
  .menu-contacts__icon {
    margin-right: 10px;
    fill: $paragraph-color;
    cursor: pointer;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }